<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piestack.adventelegraph">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_short"
        android:supportsRtl="true">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name=".ui.BrowserActivity" />

        <service
            android:name=".services.FloatingViewService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.MyUploadService"
            android:exported="false" />
        <service
            android:name=".services.MyDownloadService"
            android:exported="false" />
        <service android:name=".services.NotificationService">
                
            <intent-filter>
                        
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                    
            </intent-filter>
        </service>

        <activity
            android:name=".ui.PostDetailActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Advent.Detail">
            <intent-filter android:autoVerify="true">
                        
                <action android:name="android.intent.action.VIEW" />
                        
                <category android:name="android.intent.category.DEFAULT" />
                        
                <category android:name="android.intent.category.BROWSABLE" />
                        
                <!-- URI http://www.droidmentor.com -->
                        
                <data
                    android:host="www.advent-telegraph.piestack.co.ke"
                    android:path="/post"
                    android:scheme="http" />
                        
                <!-- URI http://droidmentor.com -->
                        

                    
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".ui.SettingsPrefActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Advent" />
        <activity android:name="id.agusibrahim.yuuplayer.YuuPlayerFullscreen" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Advent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             
            <intent-filter android:autoVerify="true">
                        
                <action android:name="android.intent.action.VIEW" />
                        
                <category android:name="android.intent.category.DEFAULT" />
                        
                <category android:name="android.intent.category.BROWSABLE" />
                        
                <!-- URI http://www.droidmentor.com -->
                        
                <data
                    android:host="www.advent-telegraph.piestack.co.ke"
                    android:scheme="http" />
                        
                <!-- URI http://droidmentor.com -->
                        

                    
            </intent-filter>
        </activity>
        <activity android:name=".ui.PostActivity" />
        <activity
            android:name=".ui.QuizActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Advent" />
        <activity
            android:name=".ui.Quote"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Advent" />
        <activity
            android:name=".ui.bible.Bible"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Advent">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchablebible" />

        </activity>
        <activity
            android:name=".ui.hymnal.Hymnal"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Advent">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchablehymnal" />

        </activity>
        <activity android:name=".ui.bible.SearchResultsActivity">
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
    </application>

</manifest>